---
import Layout from '../layouts/Layout.astro';
import Main from '../layouts/Main.astro';
import H1 from '../components/H1.astro';
import Card from '../components/Card.astro';
---

<Layout title="Rhythm Nation Blog">
	<Main>
		<H1 text='Rhythm Nation'/>
	</Main>
</Layout>


